<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form action="/api/user/search3" method="get">
            <input type="text" id="search-input" name="query" placeholder="Tìm kiếm bài hát, nghệ sĩ..." />
            <button type="submit">Tìm kiếm</button>
        </form>
        <div id="search-results"></div>
    </body>
</html>
